@import "null.scss";
@import "variables.scss";

@font-face {
    font-family: Satoshi;
    src: url(@/fonts/Satoshi-Regular.otf);
}

* {
    font-family: Satoshi, sans-serif !important;
 }

 @mixin rwdmax($screen) {
    @media (max-width: $screen+"px") {
        @content;
    }
}

@mixin rwdmin($screen) {
    @media (min-width: $screen+"px") {
        @content;
    }
}

.supportedBy {
  font-size: 35px;
  font-weight: 700;
  span {
    font-size: 20px;
    font-weight: 500;
  }
}

